<div id="completepage" class="completepage">

  <div class="winners">
        <h3 style="margin-bottom: 10%;">Winners</h3>
        <p class="winPlayer" *ngFor="let winner of winnersList" [class]="winner.class">{{winner.player}}</p>
  </div>

<div class="container" (click)="rollDice()">
  <div id="inner" class="inner">
    <p>{{randN}}</p>
  </div>
</div>

<!-- <button [disabled]="enableBtn" (click)="rollDice()"> ROLL </button> -->
<div class="main">
  <div class="row-big">
    <!-- red main box -->
    <div class="col-big">
      <div class="box">
        <div id="rdpin1" class="gitti rd"></div>
        <div id="rdpin2" class="gitti rd right"></div>
        <div id="rdpin3" class="gitti rd bottom"></div>
        <div id="rdpin4" class="gitti rd bottom-l"></div>
      </div>
    </div>
    <div class="col">
      <div class="col-sm">
        <div id="1,25" class="row-ver"></div>
        <div id="1,24" class="row-ver"></div>
        <div id="1,23" class="row-ver" style="background-image: url(../assets/star2.png);background-size: contain;"></div>
        <div id="1,22" class="row-ver"></div>
        <div id="1,21" class="row-ver"></div>
        <div id="1,20" class="row-ver"></div>
      </div>
      <div class="col-sm">
        <div id="1,26" class="row-ver arrow-green"></div>
        <div id="3,27" class="row-ver gr"></div>
        <div id="3,28" class="row-ver gr"></div>
        <div id="3,29" class="row-ver gr"></div>
        <div id="3,30" class="row-ver gr"></div>
        <div id="3,31" class="row-ver gr"></div>
      </div>
      <div class="col-sm">
        <div id="1,27" class="row-ver"></div>
        <div id="1,28" class="row-ver gr"></div>
        <div id="1,29" class="row-ver"></div>
        <div id="1,30" class="row-ver"></div>
        <div id="1,31" class="row-ver"></div>
        <div id="1,32" class="row-ver"></div>
      </div>
    </div>
    <!-- green main -->
    <div class="col-big" style="background: lightgreen;">
      <div class="box">
        <div id="grpin1" class="gitti gr"></div>
        <div id="grpin2" class="gitti gr right"></div>
        <div id="grpin3" class="gitti gr bottom"></div>
        <div id="grpin4" class="gitti gr bottom-l"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-bet">
      <div class="row-horizontal">
        <div id="1,14" class="col-horizontal"></div>
        <div id="1,13" class="col-horizontal" style="position: relative;">
          <div class="arrow-red"></div>
        </div>
        <div id="1,12" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,15" class="col-horizontal rd"></div>
        <div id="2,14" class="col-horizontal rd"></div>
        <div id="1,11" class="col-horizontal "></div>
      </div>
      <div class="row-horizontal">
        <div id="1,16" class="col-horizontal"></div>
        <div id="2,15" class="col-horizontal rd"></div>
        <div id="1,10" class="col-horizontal" style="background-image: url(../assets/star2.png);background-size: contain;"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,17" class="col-horizontal"></div>
        <div id="2,16" class="col-horizontal rd"></div>
        <div id="1,9" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,18" class="col-horizontal"></div>
        <div id="2,17" class="col-horizontal rd"></div>
        <div id="1,8" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,19" class="col-horizontal"></div>
        <div id="2,18" class="col-horizontal rd"></div>
        <div id="1,7" class="col-horizontal"></div>
      </div>

    </div>

    <div class="col-square"></div>
    <div class="col-bet">

      <div class="row-horizontal">
        <div id="1,33" class="col-horizontal"></div>
        <div id="4,44" class="col-horizontal yl"></div>
        <div id="1,45" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,34" class="col-horizontal"></div>
        <div id="4,43" class="col-horizontal yl"></div>
        <div id="1,44" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,35" class="col-horizontal"></div>
        <div id="4,42" class="col-horizontal yl"></div>
        <div id="1,43" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,36" class="col-horizontal" style="background-image: url(../assets/star2.png);background-size: contain;"></div>
        <div id="4,41" class="col-horizontal yl"></div>
        <div id="1,42" class="col-horizontal"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,37" class="col-horizontal"></div>
        <div id="4,40" class="col-horizontal yl"></div>
        <div id="1,41" class="col-horizontal yl"></div>
      </div>
      <div class="row-horizontal">
        <div id="1,38" class="col-horizontal"></div>
        <div id="1,39" class="col-horizontal" style="position: relative;">
          <div class="arrow-yellow"></div>
        </div>
        <div id="1,40" class="col-horizontal"></div>
      </div>
    </div>
  </div>
  <div class="row-big">
    <div class="col-big bl">
      <div class="box">
        <div id="blpin1" class="gitti bl blpin1"></div>
        <div id="blpin2" class="gitti bl blpin2 right"></div>
        <div id="blpin3" class="gitti bl blpin3 bottom"></div>
        <div id="blpin4" class="gitti bl blpin4 bottom-l"></div>
      </div>
    </div>
    <div class="col">
      <div class="col-sm">
        <div id="1,6" class="row-ver"></div>
        <div id="1,5" class="row-ver"></div>
        <div id="1,4" class="row-ver"></div>
        <div id="1,3" class="row-ver "></div>
        <div id="1,2" class="row-ver bl"></div>
        <div id="1,1" class="row-ver"></div>
      </div>
      <div class="col-sm">
        <div id="1,57" class="row-ver bl"></div>
        <div id="1,56" class="row-ver bl"></div>
        <div id="1,55" class="row-ver bl"></div>
        <div id="1,54" class="row-ver bl"></div>
        <div id="1,53" class="row-ver bl"></div>
        <div id="1,52" class="row-ver arrow-blue"></div>
      </div>
      <div class="col-sm">
        <div id="1,46" class="row-ver"></div>
        <div id="1,47" class="row-ver"></div>
        <div id="1,48" class="row-ver"></div>
        <div id="1,49" class="row-ver " style="background-image: url(../assets/star2.png);background-size: contain;"></div>
        <div id="1,50" class="row-ver"></div>
        <div id="1,51" class="row-ver"></div>
      </div>
    </div>
    <div class="col-big yl">
      <div class="box">
        <div id="ylpin1" class="gitti yl"></div>
        <div id="ylpin2" class="gitti yl right"></div>
        <div id="ylpin3" class="gitti yl bottom"></div>
        <div id="ylpin4" class="gitti yl bottom-l"></div>
      </div>
    </div>
  </div>
</div>
<div class="allpins">
  <div *ngFor="let ele of pins" [id]="ele.movepinid" class="pin"
    [ngClass]="{'rd': ele.movepinid.includes('rd'),'bl': ele.movepinid.includes('bl'),'gr':ele.movepinid.includes('gr'),'yl':ele.movepinid.includes('yl')}"
    (click)="movePin(ele.movepinid)">
    {{ele.pinNo}}
  </div>
</div>
<div class="toggleButtons">
  <button class="bl buttons" (click)="autoMoveToggle(0,3)">AutoMove {{this.pins[0].autoMove}}</button>
  <button class="rd buttons" (click)="autoMoveToggle(4,7)">AutoMove {{this.pins[4].autoMove}}</button>
  <button class="gr buttons" (click)="autoMoveToggle(8,11)">AutoMove {{this.pins[8].autoMove}}</button>
  <button class="yl buttons" (click)="autoMoveToggle(12,15)">AutoMove {{this.pins[12].autoMove}}</button>
</div>