
.completepage{
  height: 100vh;
  background-color: black;
  animation: blue-pulse linear 1s infinite;
}
.winners{
  position: absolute;
  right: 0;
  width: 10%;
  color: white;
}
.winPlayer{
  padding: 5%;
  transform: skewY(10deg);
}
.main {
  position: relative;
  top: 10%;
  left: 15%;
  width: 452px;
  height: 452px;
  border: 3px solid black;
  background-color: rgb(0, 0, 0);
}
.pin{
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.8s;
}
.scale{
  animation: zoomInOut 2s infinite;
  z-index: 3;
}

@keyframes zoomInOut {
  0%{
    scale: 1;
  }
  50%{
    scale: 1.2;
  }
  100%{
    scale: 1;
  }
}
.row-big {
  width: 452px;
  height: 181px;
}

.row {
  width: 458px;
  height: 91px;
}

.col-big {
  width: 181px;
  height: 181px;
  float: left;
  background: rgb(235, 14, 14);
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

.col {
  width: 90px;
  height: 180px;
  float: left;
}

.col-bet {
  width: 182px;
  height: 92px;
  float: left;
  // border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  transform: translateX(270deg);
}
.col-square {
  width: 0px;
  height: 0px;
  float: left;
  background: blue;
  border-left: 45px solid rgb(235, 14, 14);
  border-right: 45px solid rgb(235, 235, 18);
  border-bottom: 46.5px solid blue;
  border-top: 46.5px solid lightgreen;
}

.col-sm {
  height: 181px;
  width: 30px;
  float: left;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

.row-ver {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.row-horizontal {
  width: 30px;
  height: 90px;
  float: left;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

.col-horizontal {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  margin: 0%;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.box {
  width: 130px;
  height: 130px;
  background: black;
  border-radius: 25px;
  margin: 25px 25px;
  transform: rotate(45deg);
  padding: 20px;
  box-sizing: border-box;
}

.gitti {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
}

.arrow-green,
.arrow-blue,
.arrow-red,
.arrow-yellow {
  border: 15px solid transparent;
  border-top: 0;
  border-right-color: transparent;
  border-bottom-color: red;
  border-left-color: transparent;
  display: block;
  width: 0px;
  height: 0px;
}

.arrow-blue {
  padding-top: 9px;
  border-bottom-color: blue;
}

.arrow-green {
  border-bottom-color: lightgreen;
  transform: rotate(180deg);
  margin-top: 8px;
  padding-bottom: 7px;
}

.arrow-red {
  transform: rotate(90deg);
  position: absolute;
  top: 8px;
}

.arrow-yellow {
  transform: rotate(-90deg);
  position: absolute;
  border-bottom-color: rgb(222, 226, 1);
  top: 8px;
  right: 3px;
}

.right {
  right: 20px;
}

.bottom-l {
  bottom: 20px;
}

.bottom {
  bottom: 20px;
  right: 20px;
}

.gr {
  background: lightgreen;
}

.bl {
  // background: rgb(0, 191, 255);
  background: blue;
}

.rd {
  background: rgb(235, 14, 14);
}

.yl {
  background: rgb(235, 235, 18);
}

.container{
  width: fit-content;
  position: relative;
  left: 70%;
  cursor:pointer;
  top: 40%;
}


.inner {
  position: absolute;
  background-color:transparent;
  width:100px;
  height:100px;
  border-radius:50px;
  animation: blue-pulse linear 1s infinite;
  cursor:pointer;
}
.inner p {
  opacity:0.5;
  display:block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:70px;
  color: white;
  text-shadow: 0 0 4px white;
  cursor:pointer;
}

@keyframes blue-pulse {
  0% { box-shadow:0 0 8px blue, inset 0 0 8px blue; }
  50% { box-shadow:0 0 16px blue, inset 0 0 14px blue; }
  100% { box-shadow:0 0 8px blue, inset 0 0 8px blue; }
}

@keyframes red-pulse {
  0% { box-shadow:0 0 8px red, inset 0 0 8px red; }
  50% { box-shadow:0 0 16px red, inset 0 0 14px red; }
  100% { box-shadow:0 0 8px red, inset 0 0 8px red; }
}

@keyframes green-pulse {
  0% { box-shadow:0 0 8px lightgreen, inset 0 0 8px lightgreen; }
  50% { box-shadow:0 0 16px lightgreen, inset 0 0 14px lightgreen; }
  100% { box-shadow:0 0 8px lightgreen, inset 0 0 8px lightgreen; }
}

@keyframes yellow-pulse {
  0% { box-shadow:0 0 8px yellow, inset 0 0 8px yellow; }
  50% { box-shadow:0 0 16px yellow, inset 0 0 14px yellow; }
  100% { box-shadow:0 0 8px yellow, inset 0 0 8px yellow; }
}

.toggleButtons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  bottom: 4%;
}
.buttons{
  padding: 0.7% 1.4%;
  border: none;
  border-radius: 0px 10px;
  transform: skew(18deg, 0deg);
  color: white;
}