<h2>List of Students</h2>
<button (click)="ascendingList()">Ascending</button>
<button (click)="DescendingList()">Descending</button>
<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Class</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr appCustom [rank]="i" *ngFor="let student of studentslist;let i = index">
      <td >{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.gender | custom}}</td>
      <td>{{student.class}}</td>
      <td>{{student.rank}}</td>
      <td><button (click)="editRank(student)">Edit</button></td>
    </tr>
  </tbody>
</table>
<br>
<div *ngIf="this.student.name" >
    <app-student-detail [student]="student" (changeTrigger)="getStudents()"></app-student-detail>
</div>